<div class="container">
  <div>
    <%= notice %>
    <h1>Inks</h1>
    <!--検索フォーム部分　ここから-->
    <%= search_form_for @q do |f| %>
      <%= f.label :ink_name %>
      <%= f.search_field :ink_name_cont %>

      <%= f.submit %>
    <% end %>

    <h3>検索結果</h3>
    <% @searched_inks.each do |ink| %>
      <%= attachment_image_tag ink, :ink_image, :fill, 50, 50 %>
      <%= link_to ink.ink_name, ink_path(ink) %>
    <% end %>
    <!--ここまで-->
    <hr>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>インクイメージ</th>
          <th>インク名</th>
          <th>色の分類</th>
          <th>投稿者</th>
        </tr>
      </thead>
      
      <tbody>
        <% @inks.each do |ink| %>
        <tr>
          <td>
            <%= link_to ink_path(ink) do %>
              <%= attachment_image_tag ink, :ink_image, :fill, 50, 50 %>
            <% end %>
          </td>
          <td>
            <%= ink.ink_name %>
          </td>
          <td>
            <%= ink.color %>
          </td>
          <td>
            <%= ink.user.user_name %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>