<div class="container">
  <div class="row">
    <!--ユーザー情報の表示-->
    <div class="col-lg-3">
      <div class="user_box">
        <h4>
          <%= @user.user_name %>
        </h4>
        <div>
          <%= attachment_image_tag @user, :user_image, :fill, 10, 10, fallback: "no_image.jpg" %>
        </div>
        <div>
          <%= link_to "編集する", edit_user_path(@user), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
    
    <!--グラフ描画-->
    <div class="col-lg-9">
      <canvas id="myPieChart"></canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

      <script>
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ["黒・灰色系", "青・水色系", "緑系", "黄・オレンジ系", "赤・ピンク系", "紫系", "茶色系", "その他"],
            datasets: [{
              backgroundColor: [
                "#778899",
                "#1e90ff",
                "#66cdaa",
                "#f0e68c",
                "#c71585",
                "#9370db",
                "#bc8f8f",
                "#e6e6fa"
              ],
              data: [gon.grey, gon.blue, gon.green, gon.yellow, gon.red, gon.purple, gon.brown, gon.other]
            }]
          },
          options: {
            title: {
              display: true,
              text: '手持ちインクの割合'
            }
          }
        });
      </script>
    </div>
  </div>  
  
  <div class="row">
    <div class="col-lg-8">
      <h3 class="my_ink">インク一覧</h3>
      <table class="table">
        <% @inks.each do |ink| %>
          <tr>
            <td>
              <%= link_to ink_path(ink.id) do %>
                <%= attachment_image_tag ink, :ink_image, :fill, 30, 30 %>
              <% end %>
            </td>
            <td>
              <%= ink.ink_name %>
            </td>
            <td>
              <%= ink.color %>
            </td>
            <td>
              <%= ink.created_at.strftime('%Y/%m/%d') %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    
    <div class="col-lg-4">
      <h3 class="my_favorite_ink">いい色！したインク</h3>
      <table class="table">
        <% @favorite_inks.each do |favorite| %>
          <tr>
            <td>
              <%= link_to ink_path(favorite.ink_id) do %>
                <%= attachment_image_tag favorite.ink, :ink_image, :fill, 30, 30 %>
              <% end %>
            </td>
            <td>
              <%= favorite.ink.ink_name %>
            </td>
            <td>
              <%= favorite.ink.color %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>