<div>
  <div>
    <h1>退会確認画面</h1>
    <p>
      本当に退会しますか？<br>
      退会すると、マイページ機能が使用できなくなります。<br>
      （※退会しても、投稿したインクの情報は削除されません。<br>
      投稿を消したい場合は、退会前に削除してください）。
    </p>
  </div>
  
  <div>
    <%= form_with(model:@user, url: withdraw_path) do |f| %>
      <%= f.label :退会ステータス %>
      <%= f.radio_button :is_deleted, [["退会する", "true"]] %>
      <%= f.submit "退会する" %>
    <% end %>
  </div>
  
  <div>
    <%= link_to "退会しない", edit_user_path(:id) %>
  </div>
</div>