<!DOCTYPE html>
<html>
  <head>
    <title>InkHolic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to "マイページ", user_path(:id), data: {"turbolinks"=>false} %>
      </li>
      <li>
        <%= link_to "New Ink", new_ink_path %>
      </li>
      <li>
        <%= link_to "Inks", inks_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Inks", inks_path %>
      </li>
    <% end %>
    
    <%= yield %>
  </body>
</html>
